body {
  margin: 0;
  padding: 0;
  .container {
    position: relative;
    width: 480px;
    height: 130px;
    border: 1px solid grey;
    margin: 0 auto;
  }
  .btn-back {
     display: block;
     position: absolute;
     top: 40px;
     left: -10px;
     width: 0;
     height: 0;
     border: 25px solid transparent;
     border-bottom-color: #00FF00;
     transform: rotate(-90deg);
   }

  .btn-next {
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
    right: -10px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: #00FF00;
    transform: rotate(90deg);
  }
  .wrap {
    display: flex;
    margin: 0 auto;
    width: 390px;
    height: 130px;
    overflow: hidden;
  }
  .inactive-btn {
    border-bottom-color: rgba(26, 122, 21, 0.51);
  }
}
